/* İNDEX SONRASİ SAYFALARİN ve ORTAK CSS LER START*/

.navcolor2{
    min-height: 280px;
    background: transparent linear-gradient(270deg, #ED1C24 0%, #F11920 51%, #ED1C24 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
   
   
}


.buyukbaslik{
padding-top: 10%;
text-align: left;
font-size: 45px!important;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
    
}


.firmahakkinda{

max-width: 674px;
min-height: 712px;
padding: 20px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000036;
border-radius: 20px;
opacity: 1;
}

.icbaslik{
    font-size: 26px;
    color: #ED1C24;
    
    
}
.icbaslikiki{
    font-size: 19px;
    color: #ED1C24;
}

.icyazi{
    color: #696969;
    font-size: 18px;
font-family: sans-serif u ;

}

.onurhakkinda{
    margin-top: 5px;
    float: right;
}

.kirmizi{
    background-color: #ED1C24;
    color: white;
}



.listee{
    list-style-type: circle;
    color: red;
    
}



.makalersm{
    width: 570px; 
    height: 208px;
}

.mtyirmipx{
    margin-top: 20px;
}
.mtellipx{
    margin-top: 50px;
}


.flownetmasterkutusu{
    max-width: 1396px;
    min-height:350px;
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000036;
    border-radius: 20px;
    opacity: 1;
}

.oxforddd{
    margin-top: 100px;
    max-width: 674px;
    height: 97px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
    padding: 10px;


}


/* İNDEX SONRASİ SONRAKİ SAYFALARİN ve ORTAK CSS LER SON*/